* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container {
    width: 90%;
    margin: auto;
    background-image: url("./images/fondMemory.jpg");
    background-size: cover;
}

img {
    border: 1px solid gold;
}

h1 {
    text-align: center;
    color: gold;
    font-size: 30px;
}

h2 {
    text-align: center;
    margin-top: 2vh;
    color: gold;
    font-size: 20px;
}

#bordure {
    width: 1000px;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

@media screen and (max-width: 1130px){

    #container {
        width: 100%;
        background-image: url("./images/fondMemory.jpg");
        background-size: cover;
    }
    #bordure {
        width: 1000px;
        margin: auto;
    }
}

@media screen and (max-width: 900px){

    #container {
        width: 100%;
        background-image: url("./images/fondMemory.jpg");
        background-size: cover;
    }
    #bordure {
        width: 550px;
        margin: auto;
    }
    img {
        width: 100px;
        height: 80px;
        border: 1px solid gold;
    }
}

@media screen and (max-width: 500px){

    #container {
        width: 100%;
        background-image: url("./images/fondMemory.jpg");
        background-size: cover;
    }
    #bordure {
        width: 450px;
    }
    img {
        width: 80px;
        height: 50px;
        border: 1px solid gold;
    }
}
@media screen and (max-width: 400px){

    #container {
        width: 100%;
        background-image: url("./images/fondMemory.jpg");
        background-size: cover;
    }
    #bordure {
        width: 350px;
    }
    img {
        width: 60px;
        height: 30px;
        border: 1px solid gold;
    }
}





